examples/infrared-send-recieve/Debug/board.buildinfo
*.a
examples/infrared-send-recieve/Debug/infrared-send-recieve.hex
*.elf
examples/infrared-send-recieve/Debug/infrared-send-recieve.ino.hex
*.xml
examples/recieve/recieve.cppproj
*.hex
examples/recieve/Debug/recieve.cpp.o
*.h
examples/recieve/Debug/recieve.cpp.d
*.d
examples/infrared-send/Debug/infrared-send.cpp.o
*.cppproj
examples/infrared-send/Debug/board.buildinfo
examples/recieve/Debug/board.buildinfo